*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection,
*::-moz-selection {
  background-color: $select-bg;
  color: $select-fg;
}

// Scrollbar
* {
  scrollbar-width: auto;
  scrollbar-color: $clr-gray-400 $clr-dark-900;

  &::-webkit-scrollbar {
    width: 8px;

    &-track {
      background: $clr-dark-900;
    }

    &-thumb {
      background: $clr-gray-400;
    }
  }
}

*:focus {
  outline: none !important;
}

#root {
  overflow: hidden;
  max-height: 100vh;
}

body {
  font-size: $def-font-size;
  font-weight: $def-font-weight;
  font-family: 'Mulish', Helvetica, Arial, sans-serif;
  background-color: $body-bg;
  color: $body-fg;
}

button {
  border: none;
  background: transparent;
  color: $clr-gray-icon;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
