*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection,
*::-moz-selection {
  background-color: $select-bg;
  color: $select-fg;
}

*:focus {
  outline: none !important;
}

#root {
  min-height: 100vh;
}

body {
  font-size: $def-font-size;
  font-weight: $def-font-weight;
  font-family: 'Mulish', Helvetica, Arial, sans-serif;
  background-color: $body-bg;
  color: $body-fg;
}

button {
  border: none;
  background: transparent;
  color: $clr-gray-icon;
  cursor: pointer;
}

a {
  text-decoration: none;
}
