.channel-pinned {
  position: absolute;
  top: 10px;
  right: 10px;

  &__title {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: normal;
    color: $clr-gray-300;
  }

  &-list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &__link {
        @include flex-align-center;

        &__img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 20px;
        }

        &__name {
          font-size: 18px;
          font-weight: bold;
          color: $clr-light;
        }
      }
    }
  }
}
