.misc {
  @include flex-align-center;
  margin-left: auto;

  &-icons {
    @include flex-align-center;
    margin-right: 40px;

    button {
      @include def-transition;

      &:active {
        opacity: 0.4;
      }

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}
