.video-content {
  width: 100%;
  margin-right: 40px;

  &-header {
    padding-bottom: 15px;
    border-bottom: 1px solid $clr-gray-500;
    margin-bottom: 38px;

    &-meta {
      position: relative;
      margin-top: 20px;

      &__title {
        margin: 0 0 14px 0;
        font-size: 36px;
      }

      &__views {
        font-size: 20px;
        color: $clr-gray-300;
      }
    }
  }

  &-description {
    position: relative;

    .subscribe-btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-item {
      display: flex;
    }

    &__link {
      @include flex-center;
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 12px;

      &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }

    &-text {
      &__link {
        color: $clr-light;

        &__name {
          max-width: 40%;
          margin-bottom: 4px;
          font-size: 26px;
        }
      }

      &__date {
        margin-bottom: 14px;
        color: $clr-gray-500;
      }

      &__description {
        max-width: 65%;
        margin-bottom: 16px;
        line-height: 22px;
        color: $clr-gray-description;
      }

      &__btn {
        @include def-transition;
        font-size: 20px;

        &:active {
          @include def-active;
        }
      }
    }
  }
}
