.carousel-videos-list-item {
    &__link {
        &__img {
            border-radius: $radius-sm;
            margin-bottom: 10px;
            object-fit: cover;
        }

        &__title {
            font-weight: bold;
            text-transform: capitalize;
            color: $clr-light;
        }
    }
}
