.menu-btn {
    @include flex-center;
    @include def-transition;
    border: none;
    background-color: transparent;
    color: $clr-light;

    &:active {
        opacity: 0.4;
    }

    &__icon {
        width: 20px;
        height: 17px;
    }

    // Modifications
    &--header {
        margin-right: 28px;
    }
}
