.video-player {
  border: none;
  border-radius: $radius-sm;

  // Modifications
  &--channel {
    margin-right: 32px;
  }

  &--big {
    min-width: 600px;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
