@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-between {
    display: flex;
    justify-content: space-between;
}

@mixin def-transition {
    transition: all 100ms ease;
}

@mixin def-active {
    opacity: 0.4;
}

@mixin sidebar-link {
    display: flex;
    align-items: center;

    &__icon {
        @include flex-center;
        height: 24px;
        width: 24px;
        color: $clr-gray-icon;
    }

    &__text {
        padding-bottom: 4px;
        margin-left: 8px;
        color: $clr-gray-text;
    }

    & > * {
        @include def-transition;
    }

    &:hover > * {
        color: $clr-primary;
    }

    &:active > * {
        opacity: 0.7;
    }

    // Modifications
    &--active > * {
        color: $clr-primary;
    }
}
